<!-- src/app/components/topbar/topbar.component.html -->
<bmb-top-bar [positionButtonMenu]="'left'"
  [userInformation]="{name: 'Francisco Javier Ibáñez Canales', image: 'https://lh3.googleusercontent.com/a/ACg8ocKd7zbG20fVU7yrqVclowySuJ5RDGZC5d1Ht50MawbM3sxbGCo=s288-c-no', role: 'Alumno'}"
  [hasLogoutButton]="true" [appName]="'Power BI Embedded'" [appSubTitle]="'Proyecto Radar'" [lang]="'es'"
  (logOut)="logOut($event)" (onLangChange)="onLangChange($event)" (userProfileClick)="userProfileClick($event)">
</bmb-top-bar>