/* src/styles.scss */
@use "material-symbols";

.report-container {
  height: 93vh;
  width: 100vw;
}

.bmb_top-bar-user-section-icon {
  display: none;
}


html, body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden; /* Evita scroll horizontal */
}